.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    padding-top: 20px;
}

.load-more{
    color: darkcyan;
    border-radius: 2px;
    border: inherit;
    padding: 5px;
    cursor: pointer;
}

img{
    width: 100%;
    height: 100%;
}
.photo-card{
    width: 240px;
}