.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    // margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.load-more{
    margin: 0 auto;
    color: darkcyan;
    border-radius: 2px;
    border: inherit;
    padding: 5px;
    cursor: pointer;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.photo-card{
    width: 270px;
    height: 100%;
}

.photo-link{
    text-decoration: none;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    color: #fff;
}

.info{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

