.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}






.load-more{
    color: darkcyan;
    border-radius: 2px;
    border: inherit;
    padding: 5px;
    cursor: pointer;
}